* text=auto !eol
/README.md -text
/pom.xml -text
sbin/deploy.bat -text
sbin/deploy.sh -text
sbin/install.bat -text
sbin/refresh.bat -text
sbin/why[!!-~]sbin.txt -text
src/database/System_oracle.sql -text
src/database/framwork.pdb -text
src/database/framwork.pdm -text
src/main/java/com/acooly/core/common/dao/DynamicListQueryDao.java -text
src/main/java/com/acooly/core/common/dao/DynamicPagedQueryDao.java -text
src/main/java/com/acooly/core/common/dao/EntityDao.java -text
src/main/java/com/acooly/core/common/dao/dialect/DatabaseDialect.java -text
src/main/java/com/acooly/core/common/dao/dialect/DatabaseDialectManager.java -text
src/main/java/com/acooly/core/common/dao/dialect/DatabaseType.java -text
src/main/java/com/acooly/core/common/dao/dialect/impl/MySQLDatabaseDialect.java -text
src/main/java/com/acooly/core/common/dao/dialect/impl/OracleDatabaseDialect.java -text
src/main/java/com/acooly/core/common/dao/jdbc/AbstractJdbcTemplateDao.java -text
src/main/java/com/acooly/core/common/dao/jdbc/PagedJdbcTemplate.java -text
src/main/java/com/acooly/core/common/dao/jpa/AbstractEntityJpaDao.java -text
src/main/java/com/acooly/core/common/dao/jpa/DynamicSpecifications.java -text
src/main/java/com/acooly/core/common/dao/jpa/EnhanceDefaultConversionService.java -text
src/main/java/com/acooly/core/common/dao/jpa/EntityJpaDao.java -text
src/main/java/com/acooly/core/common/dao/jpa/EntityRepositoryFactoryBean.java -text
src/main/java/com/acooly/core/common/dao/jpa/FrameworkEntityManagerFactoryBean.java -text
src/main/java/com/acooly/core/common/dao/jpa/JapDynamicQueryDao.java -text
src/main/java/com/acooly/core/common/dao/jpa/SearchFilter.java -text
src/main/java/com/acooly/core/common/dao/jpa/StringToDateConverter.java -text
src/main/java/com/acooly/core/common/dao/mybatis/MyBatisMapper.java -text
src/main/java/com/acooly/core/common/dao/mybatis/interceptor/PageExecutorInterceptor.java -text
src/main/java/com/acooly/core/common/dao/mybatis/interceptor/PageResultSetInterceptor.java -text
src/main/java/com/acooly/core/common/dao/mybatis/page/MyBatisPage.java -text
src/main/java/com/acooly/core/common/dao/mybatis/page/PageObjectFactory.java -text
src/main/java/com/acooly/core/common/dao/mybatis/page/PageObjectWrapper.java -text
src/main/java/com/acooly/core/common/dao/mybatis/page/PageObjectWrapperFactory.java -text
src/main/java/com/acooly/core/common/dao/mybatis/typehandler/MoneyTypeHandler.java -text
src/main/java/com/acooly/core/common/dao/support/CriteriaSetup.java -text
src/main/java/com/acooly/core/common/dao/support/FunctionName.java -text
src/main/java/com/acooly/core/common/dao/support/Hibernates.java -text
src/main/java/com/acooly/core/common/dao/support/PageInfo.java -text
src/main/java/com/acooly/core/common/dao/support/Undeletable.java -text
src/main/java/com/acooly/core/common/domain/AbstractEntity.java -text
src/main/java/com/acooly/core/common/domain/BaseEntity.java -text
src/main/java/com/acooly/core/common/enums/EntityStatus.java -text
src/main/java/com/acooly/core/common/enums/ResultEnum.java -text
src/main/java/com/acooly/core/common/exception/AbstractI18NMessageException.java -text
src/main/java/com/acooly/core/common/exception/BusinessException.java -text
src/main/java/com/acooly/core/common/exception/GeneralException.java -text
src/main/java/com/acooly/core/common/exception/UnMappingMethodException.java -text
src/main/java/com/acooly/core/common/service/EntityService.java -text
src/main/java/com/acooly/core/common/service/EntityServiceImpl.java -text
src/main/java/com/acooly/core/common/test/SpringTests.java -text
src/main/java/com/acooly/core/common/test/SpringTransactionalTests.java -text
src/main/java/com/acooly/core/common/web/AbstractController.java -text
src/main/java/com/acooly/core/common/web/AbstractCrudController.java -text
src/main/java/com/acooly/core/common/web/AbstractECTableEntityController.java -text
src/main/java/com/acooly/core/common/web/AbstractEntityController.java -text
src/main/java/com/acooly/core/common/web/AbstractFileOperationController.java -text
src/main/java/com/acooly/core/common/web/AbstractGenericsController.java -text
src/main/java/com/acooly/core/common/web/AbstractJQueryEntityController.java -text
src/main/java/com/acooly/core/common/web/AbstractOperationController.java -text
src/main/java/com/acooly/core/common/web/AbstractStandardEntityController.java -text
src/main/java/com/acooly/core/common/web/MappingMethod.java -text
src/main/java/com/acooly/core/common/web/integrator/LogbackIntergrationListener.java -text
src/main/java/com/acooly/core/common/web/integrator/SystemPropertyIntergrationListener.java -text
src/main/java/com/acooly/core/common/web/servlet/AbstractSpringServlet.java -text
src/main/java/com/acooly/core/common/web/servlet/SimpleDownloadServlet.java -text
src/main/java/com/acooly/core/common/web/servlet/SimpleUploadServlet.java -text
src/main/java/com/acooly/core/common/web/support/DynamicProxyObjectMapper.java -text
src/main/java/com/acooly/core/common/web/support/JsonEntityResult.java -text
src/main/java/com/acooly/core/common/web/support/JsonListResult.java -text
src/main/java/com/acooly/core/common/web/support/JsonResult.java -text
src/main/java/com/acooly/core/common/web/support/LoggerIntergrationListener.java -text
src/main/java/com/acooly/core/common/web/support/MessageFilter.java -text
src/main/java/com/acooly/core/common/web/support/MultiFormatCustomDateEditor.java -text
src/main/java/com/acooly/core/common/web/support/Servlets.java -text
src/main/java/com/acooly/core/common/web/support/SpringResourceTemplateLoader.java -text
src/main/java/com/acooly/core/common/web/support/SystemPropertyIntergrationListener.java -text
src/main/java/com/acooly/core/common/web/taglib/PortalSimplePaging.java -text
src/main/java/com/acooly/core/utils/Barcodes.java -text
src/main/java/com/acooly/core/utils/BeanUtils.java -text
src/main/java/com/acooly/core/utils/Collections3.java -text
src/main/java/com/acooly/core/utils/Compressions.java -text
src/main/java/com/acooly/core/utils/ConfigurableConstants.java -text
src/main/java/com/acooly/core/utils/Cryptos.java -text
src/main/java/com/acooly/core/utils/Dates.java -text
src/main/java/com/acooly/core/utils/Digests.java -text
src/main/java/com/acooly/core/utils/Encodes.java -text
src/main/java/com/acooly/core/utils/ExcelUtils.java -text
src/main/java/com/acooly/core/utils/Exceptions.java -text
src/main/java/com/acooly/core/utils/FreeMarkers.java -text
src/main/java/com/acooly/core/utils/GenericsUtils.java -text
src/main/java/com/acooly/core/utils/IdCards.java -text svneol=unset#text/plain
src/main/java/com/acooly/core/utils/Ids.java -text
src/main/java/com/acooly/core/utils/Images.java -text
src/main/java/com/acooly/core/utils/Money.java -text
src/main/java/com/acooly/core/utils/MoneyUtil.java -text
src/main/java/com/acooly/core/utils/PrimitiveUtils.java -text
src/main/java/com/acooly/core/utils/Profiles.java -text
src/main/java/com/acooly/core/utils/Reflections.java -text
src/main/java/com/acooly/core/utils/Servlets.java -text
src/main/java/com/acooly/core/utils/ShutdownHooks.java -text
src/main/java/com/acooly/core/utils/Strings.java -text svneol=unset#text/plain
src/main/java/com/acooly/core/utils/ToString.java -text
src/main/java/com/acooly/core/utils/Validates.java -text
src/main/java/com/acooly/core/utils/arithmetic/ketama/KetamaHashs.java -text
src/main/java/com/acooly/core/utils/arithmetic/ketama/KetamaNode.java -text
src/main/java/com/acooly/core/utils/arithmetic/ketama/KetamaNodeLocator.java -text
src/main/java/com/acooly/core/utils/arithmetic/ketama/KetamaNodeLocatorTest.java -text
src/main/java/com/acooly/core/utils/collection/AutoClearable.java -text
src/main/java/com/acooly/core/utils/collection/ConcurrentReferenceMap.java -text
src/main/java/com/acooly/core/utils/collection/SetFromMap.java -text
src/main/java/com/acooly/core/utils/collection/ref/FinalizablePhantomReference.java -text
src/main/java/com/acooly/core/utils/collection/ref/FinalizableReference.java -text
src/main/java/com/acooly/core/utils/collection/ref/FinalizableReferenceQueue.java -text
src/main/java/com/acooly/core/utils/collection/ref/FinalizableSoftReference.java -text
src/main/java/com/acooly/core/utils/collection/ref/FinalizableWeakReference.java -text
src/main/java/com/acooly/core/utils/conversion/AbstractTypeConverter.java -text
src/main/java/com/acooly/core/utils/conversion/ArrayTypeConverter.java -text
src/main/java/com/acooly/core/utils/conversion/ArrayTypeConverterSupport.java -text
src/main/java/com/acooly/core/utils/conversion/BigDecimalTypeConverter.java -text
src/main/java/com/acooly/core/utils/conversion/BigIntegerTypeConverter.java -text
src/main/java/com/acooly/core/utils/conversion/BooleanPrimitiveArrayTypeConverter.java -text
src/main/java/com/acooly/core/utils/conversion/BooleanPrimitiveTypeConverter.java -text
src/main/java/com/acooly/core/utils/conversion/BooleanTypeConverter.java -text
src/main/java/com/acooly/core/utils/conversion/BytePrimitiveArrayTypeConverter.java -text
src/main/java/com/acooly/core/utils/conversion/BytePrimitiveTypeConverter.java -text
src/main/java/com/acooly/core/utils/conversion/ByteTypeConverter.java -text
src/main/java/com/acooly/core/utils/conversion/CharArrayTypeConverter.java -text
src/main/java/com/acooly/core/utils/conversion/CharTypeConverter.java -text
src/main/java/com/acooly/core/utils/conversion/CharacterTypeConverter.java -text
src/main/java/com/acooly/core/utils/conversion/ConverterNotFoundException.java -text
src/main/java/com/acooly/core/utils/conversion/DateTypeConverter.java -text
src/main/java/com/acooly/core/utils/conversion/DoublePrimitiveArrayTypeConverter.java -text
src/main/java/com/acooly/core/utils/conversion/DoublePrimitiveTypeConverter.java -text
src/main/java/com/acooly/core/utils/conversion/DoubleTypeConverter.java -text
src/main/java/com/acooly/core/utils/conversion/EnumTypeConverter.java -text
src/main/java/com/acooly/core/utils/conversion/FloatPrimitiveArrayTypeConverter.java -text
src/main/java/com/acooly/core/utils/conversion/FloatPrimitiveTypeConverter.java -text
src/main/java/com/acooly/core/utils/conversion/FloatTypeConverter.java -text
src/main/java/com/acooly/core/utils/conversion/IntArrayTypeConverter.java -text
src/main/java/com/acooly/core/utils/conversion/IntTypeConverter.java -text
src/main/java/com/acooly/core/utils/conversion/IntegerTypeConverter.java -text
src/main/java/com/acooly/core/utils/conversion/ListTypeConverter.java -text
src/main/java/com/acooly/core/utils/conversion/LongPrimitiveArrayTypeConverter.java -text
src/main/java/com/acooly/core/utils/conversion/LongPrimitiveTypeConverter.java -text
src/main/java/com/acooly/core/utils/conversion/LongTypeConverter.java -text
src/main/java/com/acooly/core/utils/conversion/QueueTypeConverter.java -text
src/main/java/com/acooly/core/utils/conversion/SetTypeConverter.java -text
src/main/java/com/acooly/core/utils/conversion/ShortPrimitiveArrayTypeConverter.java -text
src/main/java/com/acooly/core/utils/conversion/ShortPrimitiveTypeConverter.java -text
src/main/java/com/acooly/core/utils/conversion/ShortTypeConverter.java -text
src/main/java/com/acooly/core/utils/conversion/SimpleTypeConverterManager.java -text
src/main/java/com/acooly/core/utils/conversion/StringTypeConverter.java -text
src/main/java/com/acooly/core/utils/conversion/TimestampTypeConverter.java -text
src/main/java/com/acooly/core/utils/conversion/TypeConversionException.java -text
src/main/java/com/acooly/core/utils/conversion/TypeConverter.java -text
src/main/java/com/acooly/core/utils/conversion/TypeConverterManager.java -text
src/main/java/com/acooly/core/utils/conversion/TypeConverterUtils.java -text
src/main/java/com/acooly/core/utils/conversion/package-info.java -text
src/main/java/com/acooly/core/utils/enums/Messageable.java -text
src/main/java/com/acooly/core/utils/enums/ResultStatus.java -text
src/main/java/com/acooly/core/utils/enums/SimpleStatus.java -text
src/main/java/com/acooly/core/utils/lang/Paths.java -text
src/main/java/com/acooly/core/utils/mapper/BeanCopier.java -text
src/main/java/com/acooly/core/utils/mapper/BeanMapper.java -text
src/main/java/com/acooly/core/utils/mapper/CsvMapper.java -text
src/main/java/com/acooly/core/utils/mapper/JaxbMapper.java -text
src/main/java/com/acooly/core/utils/mapper/JsonMapper.java -text
src/main/java/com/acooly/core/utils/net/HttpResult.java -text
src/main/java/com/acooly/core/utils/net/Https.java -text
src/main/java/com/acooly/core/utils/security/Cryptos.java -text
src/main/java/com/acooly/core/utils/security/RSA.java -text
src/main/java/com/acooly/core/utils/security/RSACipherCache.java -text
src/main/java/com/acooly/core/utils/service/LinkedHashMapParameterize.java -text
src/main/java/com/acooly/core/utils/service/OrderBase.java -text
src/main/java/com/acooly/core/utils/service/Orderable.java -text
src/main/java/com/acooly/core/utils/service/Parameterize.java -text
src/main/java/com/acooly/core/utils/service/ResultBase.java -text
src/main/java/com/acooly/core/utils/service/Resultable.java -text
src/main/java/com/acooly/core/utils/system/Envs.java -text
src/main/java/com/acooly/core/utils/system/Hex.java -text
src/main/java/com/acooly/core/utils/system/IPUtil.java -text
src/main/java/com/acooly/core/utils/system/MACAddressParser.java -text
src/main/java/com/acooly/core/utils/validate/HibernateValidatorFactory.java -text
src/main/java/com/acooly/core/utils/validate/Validators.java -text
src/main/java/com/acooly/core/utils/validate/jsr303/CertNo.java -text
src/main/java/com/acooly/core/utils/validate/jsr303/CertNoValidator.java -text
src/main/java/com/acooly/core/utils/validate/jsr303/ConstraintValidatorSupport.java -text
src/main/java/com/acooly/core/utils/validate/jsr303/HttpUrl.java -text
src/main/java/com/acooly/core/utils/validate/jsr303/HttpUrlValidator.java -text
src/main/java/com/acooly/core/utils/validate/jsr303/MobileNo.java -text
src/main/java/com/acooly/core/utils/validate/jsr303/MobileNoValidator.java -text
src/main/java/com/acooly/core/utils/validate/jsr303/MoneyConstraint.java -text
src/main/java/com/acooly/core/utils/validate/jsr303/MoneyConstraintValidator.java -text
src/main/java/com/acooly/core/utils/validate/predicate/CertNoPredicate.java -text
src/main/java/com/acooly/core/utils/validate/predicate/HttpUrlPredicate.java -text
src/main/java/com/acooly/core/utils/validate/predicate/MobileNoPredicate.java -text
src/main/java/com/acooly/integration/SystemPropertyIntergrationListener.java -text svneol=unset#text/plain
src/main/java/com/acooly/integration/bean/AbstractSpringProxyBean.java -text
src/main/java/com/acooly/integration/log/LogbackAsyncAppender.java -text svneol=unset#text/plain
src/main/java/com/acooly/integration/log/LogbackIntergrationListener.java -text svneol=unset#text/plain
src/main/java/com/acooly/integration/web/MessageFilter.java -text
src/main/java/com/acooly/integration/web/ResourceCheckJstlView.java -text
src/main/java/com/acooly/integration/web/SpringFilterProxy.java -text
src/main/java/com/acooly/integration/web/StaticResourceHttpRequestHandler.java -text
src/main/java/com/acooly/integration/web/StaticResourceSpringFilter.java -text
src/main/resources/META-INF/LICENSE.txt -text
src/main/resources/META-INF/acooly-portal.tld -text
src/main/resources/application.dev.properties -text
src/main/resources/application.online.properties -text
src/main/resources/application.test.properties -text
src/main/resources/i18n/errors.properties -text
src/main/resources/logback.dev.xml -text
src/main/resources/logback.online.xml -text
src/main/resources/logback.test.xml -text
src/main/resources/mybatis/config/SqlMapConfig.xml -text
src/main/resources/spring/acooly/acooly-common.xml -text
src/main/resources/spring/acooly/acooly-database-mybatis.xml -text
src/main/resources/spring/acooly/acooly-database.xml -text
src/main/resources/spring/acooly/acooly-freemarker.properties -text
src/main/resources/spring/acooly/acooly-springmvc.xml -text
src/main/resources/spring/acooly/core/applicationContext-common.xml -text
src/main/resources/spring/acooly/core/applicationContext-jpa.xml -text
src/main/resources/spring/acooly/core/applicationContext-profiles.xml -text
src/main/resources/spring/acooly/core/cache/ehcache-hibernate-local.xml -text
src/main/resources/spring/acooly/core/cache/ehcache-hibernate-rmi.xml -text
src/main/resources/spring/acooly/core/springmvc-servlet.xml -text
src/main/resources/spring/acooly/ehcache/ehcache-hibernate-local.xml -text
src/main/resources/spring/acooly/ehcache/ehcache-hibernate-rmi.xml -text
src/main/resources/spring/applicationContext-main.xml -text
src/main/resources/validation/validationMessage.properties -text
src/main/webapp/WEB-INF/web.xml -text
src/test/java/com/acooly/core/common/test/BusinessServiceTest.java -text
src/test/java/com/acooly/core/demo/dao/AcoolyDemoDao.java -text
src/test/java/com/acooly/core/demo/demo/AcoolyDemo.java -text
src/test/java/com/acooly/core/main/CallResult.java -text
src/test/java/com/acooly/core/main/JarFileOpt.java -text
src/test/java/com/acooly/core/main/StringTestMain.java -text
src/test/java/com/acooly/core/main/XmlParser.java -text
src/test/java/com/acooly/core/utils/constants/ConstantsA.java -text
src/test/java/com/acooly/core/utils/constants/ConstantsB.java -text
src/test/java/com/acooly/core/utils/validator/EntityDemo.java -text
src/test/java/com/acooly/core/utils/validator/TestValidators.java -text
src/test/resources/a.properties -text
src/test/resources/applicationContext-test-main.xml -text
src/test/resources/b.properties -text
